@font-face {
  font-family: 'Gotham Pro';
  src: url('./fonts/GothamPro.woff');
  font-weight: bold;
  font-style: italic;
}

;


@font-face {
  font-family: 'Gotham Pro';
  src: url('./fonts/GothamPro-BlackItalic.woff');
  font-weight: bold;
  font-style: italic;
}

;

@font-face {
  font-family: 'Gotham Pro';
  src: url('./fonts/GothamPro-Bold.woff');
  font-weight: bold;
  font-style: italic;
}

;

@font-face {
  font-family: 'Gotham Pro';
  src: url('./fonts/GothamPro-BoldItalic.woff');
  font-weight: bold;
  font-style: italic;
}

;

@font-face {
  font-family: 'Gotham Pro';
  src: url('./fonts/GothamPro-Italic.woff');
  font-weight: bold;
  font-style: italic;
}

;

@font-face {
  font-family: 'Gotham Pro';
  src: url('./fonts/GothamPro-Light.woff');
  font-weight: bold;
  font-style: italic;
}

;

@font-face {
  font-family: 'Gotham Pro';
  src: url('./fonts/GothamPro-LightItalic.woff');
  font-weight: bold;
  font-style: italic;
}

;

@font-face {
  font-family: 'Gotham Pro';
  src: url('./fonts/GothamPro-MediumItalic.woff');
  font-weight: bold;
  font-style: italic;
}

;

@font-face {
  font-family: 'Gotham Pro';
  src: url('./fonts/GothamProNarrow-Bold.woff');
  font-weight: bold;
  font-style: italic;
}

;

@font-face {
  font-family: 'Gotham Pro';
  src: url('./fonts/GothamProNarrow-Medium.woff');
  font-weight: bold;
  font-style: italic;
}

;


:root {

  font-family: 'Gotham Pro Regular', sans-serif;



}

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

a {
  text-decoration: none;
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  color: #2D2D2D;
}

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}


mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}


hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

.registration__link {
  font-family: 'Gotham Pro Regular', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 13px;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}

.active {
  border-bottom: 1px solid #25BA00;
  padding-bottom: 4px;
}

.link__information {
  color: white;
}

.Info__more-link {
  padding: 5px;
  font-family: 'Gotham Pro Regular', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 13px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #FFFFFF;
  border:solid 1px #25BA00;
}